#root {
  max-width: 1280px;
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  width: 100vw;
}


.titcont2{
  width: 59.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f2ef;
 
}
.titulo-foot{
  height: max-content;
  padding-bottom: 2rem;
}
.sobre-app{
  display: flex;
  height: 90vh;
  justify-self: stretch;
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  align-content: space-around;
  
}
.descripcion-proy{  
  align-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}
.mi{  
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color:#60212e;
  width: max-content;
  
}
@media (max-width: 1024px) {
  .mi{  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color:#60212e  
  }
  .descripcion-proy{  
    align-content: space-around;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.avatarcont{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
  background-color:#d8d1bd;
}
.avatar{
  height: 100%;
}
.mi-mensaje{
  width: 70%;
 
}