#root {
  max-width: 1280px;
  margin: 0 auto; 
  text-align: left;
}

.App-header{
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: center;
  margin: 10px;  
  text-align: center;
  background-color: #60212e;
}
.titulo-foot{
  height: max-content;
}
.sobre-app{
  display: flex;
  height: 90vh;
  justify-self: stretch;
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  align-content: space-around;
}
.descripcion-proy{  
  align-content: space-around;
}
.mi{  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color:  #f4f2ef;
  
}
.avatarcont{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 40%;
}
.avatar{
  height: 70%;
}
.mi-mensaje{
  width: 70%;
 
}