:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  background-color: burlywood;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
footer{
  margin-left: 1rem;
  height: 100vh;

}
